body {
    margin: 0px;
    padding: 0px;
    line-height: 28px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-style: normal;
    height: 100%;
}

.h1 {
    margin: 0px;
    padding: 0px;
}

.full-height {
    height: 100%;
}

ul {
    margin: 0px;
    padding: 0px;
}

.header {
    background-color: #6247aa;
    display: block;
    height: 70px;
    margin: 0px;
    padding-left: 350px;
    position: sticky;
    top: 0;
}

.logo {
    position: absolute;
    left: 2em;
    height: 40px;
    width: auto;
    top: 10px;
}

.navlist {
    display: inline-block;
    align-items: baseline;
    justify-content: space-around;
    flex-direction: row;
}

.navitem {
    list-style-type: none;
    position: relative;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 22px;
    padding-right: 30px;

}

a.navlink {
    color: #151515;
    color: white;
    text-decoration: none;
    opacity: 0.8;
    font-size: 18px;
}

a.navlink:hover {
    text-decoration: underline;
}

.button-white {
    background-color: #fff;
    color: black;
}

.button-white:hover {
    text-decoration: underline;
}

.stani-button {
    display: inline-block;
    padding: 8px 30px;
    border-radius: 25px;
    text-decoration: none;
    line-height: 25px;
}

.navlink-button {
    text-decoration: none;
    padding: 8px;
    padding-right: 30px;
}

.absolute {
    position: absolute;
}

.right {
    right: 0px;
}

.nav-shadow {
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.5);
  }

#hero {
    background-image: url("assets/background-hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 200px;
}
